html {
  color: $black;
}

a {
  color: $black;
  text-decoration: underline;
  text-decoration-style: dashed;

  &:hover {
    color: $red;
    text-decoration-style: solid;
  }
}

.main {
  margin: auto;
  max-width: 70rem;
  padding: 4rem 0.5rem 2rem;
}
