<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>{{ .Site.Title }} {{ with .Params.Title }} | {{ . }} {{ end }}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.css" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ $config := resources.Get "netlify-cms/config.yml" | resources.Fingerprint "sha512" }}
    <link href="{{ $config.Permalink }}" type="text/yaml" rel="cms-config-url">
  </head>
  <body>
    <section class="header">
      <span class="header__title">
        Familie Schmid in Kanada
      </span>
    </section>
    <section class="main">
